# GUI
Pillow>=10.0.0
tkcalendar>=1.6.1
tkhtmlview>=0.1.1

# Gry i tracking
psutil>=5.9.0

# Wykresy
matplotlib>=3.7.0

# API Integracje
pypresence>=4.3.0
requests>=2.31.0
pylast>=5.2.0
PyGithub>=2.1.1

# Muzyka
pygame>=2.5.0
mutagen>=1.47.0

# Serwer czatu
Flask>=3.0.0
python-socketio>=5.10.0

# RSS
feedparser>=6.0.10

# Utilities
packaging>=23.0